@import "tailwindcss";

@theme {
  --color-brand-lavender: #E6E6FA;
  --color-brand-teal: #008080;
  --color-brand-roseWhite: #FFF5F5;
}

@layer base {
  body {
    background-color: var(--color-brand-roseWhite);
    color: #1f2937; /* gray-800 */
    font-family: Inter, Roboto, sans-serif;
  }
}
